<mat-toolbar color="primary">
  <span>Carrier Policy Generator</span>
  <span class="spacer"></span>
  <a target="_blank" rel="noopener" href="https://github.com/olkitu/CarrierPolicyGenerator"><fa-icon [icon]="faGithub" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon></a>
</mat-toolbar>
<div class="container">
  <p>Use this page to generate carrier policy rule for your device</p>
  <form method="POST" #PolicyForm="ngForm"  (submit)="submitForm()">
    <mat-form-field appearance="fill">
      <mat-label>Bands</mat-label>
      <mat-select [(value)]="formData.bandNumber" multiple>
        <mat-option *ngFor="let bands of bandList" [value]="bands.number">{{bands.name}}</mat-option>
      </mat-select>
      <mat-hint>Select one or more bands</mat-hint>
    </mat-form-field>
    <div class="selection-style">
      <button mat-button color="primary" [disabled]="submitDisabled" type="submit">Generate</button>
    </div>
  </form>
</div>